$displays: (block, flex, grid, inline, inline-block);

@each $d in $displays {
  .#{$d} {
    display: $d;
  }
}

$flexDirections: (column, column-reverse, row, row-reverse);

@each $fd in $flexDirections {
  .#{$fd} {
    flex-direction: $fd;
  }
}

$justifyContent: (
  center,
  flex-end,
  flex-start,
  space-around,
  space-between,
  space-evenly,
  stretch
);

@each $jc in $justifyContent {
  .justify-#{$jc} {
    justify-content: $jc;
  }
}

$alignItems: (stretch, flex-start, flex-end, center);

@each $ai in $alignItems {
  .align-#{$ai} {
    align-items: $ai;
  }
}

$alignContent: (
  stretch,
  flex-start,
  flex-end,
  center,
  space-between,
  space-around,
  space-evenly
);

@each $ac in $alignContent {
  .align-content-#{$ac} {
    align-content: $ac;
  }
}

@for $size from 1 through 6 {
  .gap-#{$size} {
    gap: #{$size}em;
  }

  .row-gap-#{$size}em {
    row-gap: #{$size * 0.5}em;
  }

  .column-gap-#{$size}em {
    column-gap: #{$size * 0.5}em;
  }
}

@for $size from 1 through 6 {
  .grow-#{$size} {
    flex-grow: #{$size};
  }
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}
