form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.5em;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
}
